body {
	background-image: radial-gradient(65% 122%, rgba(132,236,201,0.09) 27%, #287167 100%);
	font-family: 'Montserrat-Medium', sans-serif;
	color: #153D38;
}
  
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}  

.ulfooter {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #273937;
	height: 10vh;
}

.liafooter {
	float: left;
	margin: auto 0;
	display: block;
	text-align: center;
	padding: 2vw 2vw;
    width: 15vw;
    height: 15vh;
	bottom: 5vh;
}

.liafooter:hover {
	background-color: #111;
}

.img {
width: 7vw;
height:7vh;
}

.img1 {
width: 10vw;
height:10vh;

}

.img2 {
width: 10vw;
height:10vh;

}
.img3 {
width: 11vw;
height:11vh;

}
.containermidsearch1 {
  margin-left:10vw;
  border-radius: 1vh;
  margin-top: -1px; /* Prevent double borders */
  background-color: white; /* Grey background color */
  padding: 12px; /* Add some padding */
  font-size: 2.2vh; 
  line-height:280%;
  margin-right:10vw;
  color: #153D38; 
  display: block; /* Make it into a block element to fill the whole list */
  margin-top:5vh;
  width:74vw;
  height:51vh;
}

.containermidsearch2 {
  margin-left:10vw;
  border-radius: 1vh;
  margin-top: -1px; /* Prevent double borders */
  background-color: white; /* Grey background color */
  padding: 12px; /* Add some padding */
  font-size: 2.2vh; 
  line-height:360%;
  margin-right:10vw;
  color: #153D38; 
  display: block; /* Make it into a block element to fill the whole list */
  margin-top:5vh;
  width:74vw;
  height:51vh;
}

.startscreen1{
	text-align: center;
	height:35vh;
	position: relative;
    top: 20vh;
}

.startscreentext1{
	color: #153D38;
	font-size: 3.3vh;
	font-weight: SemiBold;
}

.imgstartscreen1 {
	width: 25vw;
	height: 25vh;
}

.topnav {
  overflow: hidden;
    color: #DEDEDE;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #355E54;
	text-align: center;
	width:44vw;
	font-size: 4.5vw;
	padding: 2vw ;
text-decoration: none;
border-bottom:2px solid #DEDEDE;
}

.topnav a:hover {
  border-bottom: 2px solid #FF7777;
}

.topnav a.active {
  border-bottom: 2px solid #FF7777;
}

.containertop{
	text-align: center;
	height:25vh;
	position: relative;
    right: 0;
    top: 5vh;
}
.link{
	text-decoration: none; /* Remove default text underline */
	color: black;
	
}

.containermid{
	text-align: center;
	position: relative;
    right: 0;
    top: 5vh;
}

.suchfeld{
	font-family: 'Montserrat-Medium', sans-serif;
	margin-left:10vw;
	font-size:2.5vh; 
	border-radius: 1vh;
	width:80vw;
	height:7vh;
	color: white;
	background-color:#6B958B;
	margin-top:5vh;
	text-align:left;
	padding-left: 10vw;
	border:none;
}

.toptext{
	font-size: 16px;
	color: #355E54;
	font-size: 2.5vh;
	font-weight: normal;
}

.textmid {
	color:FF7777;
	font-size: 2vh;
}

.button {
	font-family: 'Montserrat-Medium', sans-serif;
  display: block;
   margin: 0 auto 0 auto;
	border: none;
	padding: 15px 32px;
	width: 70vw;
	height: 8vh;
	color: white;
	text-decoration: none;
	background-color: #FF7777;
	border-radius: 8px;
	font-size: 2.3vh;
	text-align: center;
}

.button:hover {
  background-color: #DD5E5E; /* Green */
  color: white;
}

.img {
	width: 8vw;
	height: 8vh;
}

.suchfeld_img{
	width: 8vw;
	height: 8vh;
	margin-top:-7.5vh;
	margin-left:11vw;
}

.imghead {
	width: 6vw;
	height: 6vh;
	margin-left:86vw

}
.imgpfeil{
	width: 2vw;
	height: 2vh;
	float: right;
	margin-top:2.5vh;
	
}

.points { 
	width: 5vw;
	height: 5vh;	
}  
.pointsstart {
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: fixed;
   bottom:2vh;
   margin-left: 30vw;
  }  
 
.FrageStart{
	margin-left:10vw;
	font-size:2.8vh; 
	border:0;
	top: 1vh;
	width:75vw;
	height:6.5vh;
	color: #FF5F6D;
	text-decoration: none;
	background-color:transparent;
	margin-top:0vh;
	text-align:left;
	border-bottom: 1px solid white;
	margin-bottom: 5vh;
}

::placeholder{
	color:white;
}
.FrageStartText{
	font-family: 'Montserrat-Medium', sans-serif;
	font-size: 16px;
	color: #355E54;
	font-size: 2.2vh;
	font-weight: normal;
	text-align:left;
	margin-left:10vw;

}

.startscreen4{
	position: relative;
    margin-top: 7vh;
}

.startscreentext4{
	font-family: 'Montserrat-Medium', sans-serif;
	color: #153D38;
	margin-left:10vw;
	text-align: left;
	font-size: 2.5vh;
	font-weight: 600;
	margin-top: 3vh;
	margin-bottom: 8vh;
}

.imgstartscreen4 {
 display: block;
  margin: 0 auto 0 auto;
	width: 15vw;
	height: 15vh;
}

.Startscreenbutton {
	font-family: 'Montserrat-Medium', sans-serif;
     position: absolute; 
     right: 25vw;
     bottom: 12vh;
    width: 52vw;
	height: 6vh;
	color: #153D38;
	background-color: transparent;
	border: 1px solid #153D38;
	border-radius: 8px;
	font-size: 2.3vh;
	text-align: center;
	font-weight:600;


}

.Startscreenbutton:hover {
  background-color: #AED6C9; 
  }

.Startscreenfrage2 {
  color: #153D38; 
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: 7vh;
  margin-left: auto; 
  margin-right: auto; 
  width: 55vw; /* Need a specific value to work */
   font-size: 2.3vh;
   font-weight: 600;
   text-align:center;
   text-decoration:none;

}

.Startscreenfrage2:hover {
    color: #FF7777;
  }
  


.Startscreen5 input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.Startscreen5 label {
   display: block;
   margin: 0 auto 0 auto;
   width: 65vw;
   height: 5.5vh;
    color: #153D38;
	background-color: transparent;
	border: 1.5px solid #153D38;
	font-size: 2.3vh;
	text-align: center;
	margin-bottom: 5vh;
    border-radius: 8px;
    text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
 
  
}
 
.Startscreen5 input:checked + label {
  background: transparent;
  color: #FF7777;
   border-color: #FF7777;

}

.startscreentext5{
	color: #153D38;
	margin-left:10vw;
	text-align: left;
	font-size: 2vh;
	font-weight: SemiBold;
	margin-top: 3vh;
	margin-bottom: 12vh;
}

.startscreentext2{

   color: #153D38;
  margin-left:10vw;
   	font-size: 3.3vh;
	font-weight: 600;
	margin-bottom: 7vh;
}

#one{
		font-family: 'Montserrat-Medium', sans-serif;

	color: #355E54;
	font-size: 2vh;
	font-weight: normal;
	text-align:left;
	margin-left:10vw;
	line-height:2.8vh;
	margin-top: 0px; 
	padding-top: 0px;
	margin-top: 0px;

}

#two{
		font-family: 'Montserrat-Medium', sans-serif;
		
	color: #355E54;
	font-size: 2vh;
	font-weight: 600;
	text-align:left;
	margin-left:10vw;
	line-height:2.8vh;
	margin-bottom: 0px; 
}

.value {
  font-family: 'Montserrat-Medium', sans-serif;
  color: #FF5F6D;
  text-align: right;
  margin-right: 10vw;
  font-weight: 600;
  font-size: 2.5vh;
  margin-bottom: 8vh;
  margin-top:0px;

}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 312px;
  height: 3.5px;
  border-radius: 5px;
  margin: 0 auto;

}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #FF5F6D;
  width: 5vw;
  height: 3vh;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
   
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.3);
  }

.FrageStartText1{
	font-family: 'Montserrat-Medium', sans-serif;
	font-size: 16px;
	color: #355E54;
	font-size: 2.2vh;
	font-weight: normal;
	text-align:left;
	margin-left:10vw;
	margin-bottom: 0px; 
}

.Marke{
	font-family: 'Montserrat-Medium', sans-serif;
	font-size: 3.2vw;
	color: #355E54;
	font-weight: normal;
	text-align:left;
	margin-left:10vw;
	margin-bottom: 0px; 
	margin-top: 1vh;
	
}

.HeadlineAngebot{
	font-family: 'Montserrat-Medium', sans-serif;
	font-weight:500;
	color: #355E54;
	font-size: 4vw;
	text-align:left;
	margin-left:10vw;
	margin-bottom: 0px; 
}


#container {
  border-radius: 10px;
  margin: auto !important;
  display: block;
  position: relative;
   list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border:  none;
}

.Standort{
    color: #FF7777;
	position: absolute;
	width: 5.5vw;
	height: 5.5vh;
	padding-top:46.5vh;
	padding-left: 2vw;
}

.Standortanzeige{
    font-size: 3.5vw;
    color: #FF7777;
	position: absolute;
	padding-left: 8vw;
	padding-top:48vh;
}

.Standortanzeige2{
    font-size: 4vw;
    font-weight:bold;
    color: #FF7777;
	position: absolute;
	padding-left: 62.5vw;
	padding-top:48vh;
}

.buddy {
  display: none;
  background: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  margin-top: 5vh;
  margin-left: 10vw;
  position: absolute;
  cursor: hand;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.avatar {
  background: none;
  border-radius: 10px;
  width: 71vw;
  height: 52vh;
  display: block;
  position: absolute;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-size: auto 120% !important;
  background-position: center;
 background-repeat: no-repeat;

}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

.button1 {
	font-family: 'Montserrat-Medium', sans-serif;
   position: absolute;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   margin-top: 53vh;
	border: none;
	width: 64vw;
	height: 8vh;
	color: white;
	text-decoration: none;
	background-color: #FF7777;
	border-radius: 8px;
	font-size: 2.3vh;
	text-align: center;
	padding: 3.5vh;
	z-index: -1;
}

.button1:hover {
  background-color: #DD5E5E; /* Green */
  color: white;
}



